<h1><%= @track.title %> (<%= @track.ord %>)</h1>
<p>
  <%= @track.lyrics %>
</p>

<form action="<%= track_url(@track) %>" method="POST">
  <%= auth_token %>
  
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Remove Track">
</form>
<br>

<form action="<%= edit_track_url(@track) %>" method="GET">
  <%= auth_token %>
  <input type="submit" value="Edit Track">
</form>

<%= render @notes %>

<%= render 'notes/form.html.erb' %>

<p><%= link_to @album.title, album_url(@album) %></p>


